<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="root">
        <div class="leftSide">
            <h1>ToDo List</h1>
            <p>ー　開発課題用　ー</p>

            <!-- 検索欄 -->
            <div class="inputSearch">
                <input type="text" v-model="inputSearch" maxlength="20" placeholder="Search...">
                <i class="ri-search-line" @click="searchToDo"></i>
            </div>
        </div>

        <div class="rightSide">
            <!-- 追加ボタン -->
            <div class="addTodo">
                <i class="ri-add-fill" @click="addTodo"></i>
            </div>

            <!-- Todo一覧 -->
            <div class="todoTable">
                <div v-for="(item,index) in paginatedTodo" :key="item.id" class="todoLine"
                    :class="{'deletedTodoLine':index === deletedTodoLine}">
                    <div>
                        <p>{{item.title}}</p>
                        <p>{{item.content}}</p>
                    </div>
                    <p>{{item.created_at | dateFormate}}</p>
                    <p>
                        <i class="ri-edit-2-line" @click="editTodo(item,index)"></i>
                        <i class="ri-delete-bin-line" @click="deleteTodo(item,index)"></i>
                    </p>
                </div>
            </div>

            <!-- ページャー -->
            <div>
                <button v-if="currentPage > 1" @click="setPage(currentPage - 1)">前へ</button>
                <button v-for="pageNum in totalPages" :key="pageNum" @click="setPage(pageNum)"
                    :class="{'selectedPage': pageNum === currentPage}">{{pageNum}}</button>
                <button v-if="currentPage < totalPages" @click="setPage(currentPage + 1)">次へ</button>
            </div>
        </div>

        <!-- 新規Todo画面 -->
        <div id="addModel" v-show="isAddModelShow">
            <input type="text" v-model="inputNewTitle" maxlength="20" placeholder="タイトル">
            <input type="text" v-model="inputNewContent" placeholder="内容">

            <div>
                <button @click="addSureClick">確認</button>
                <button @click="cancelClick">キャンセル</button>
            </div>
        </div>

        <!-- 編集Todo画面 -->
        <div id="editModel" v-show="isEditModelShow">
            <div class="inputContainer">
                <label>タイトル</label>
                <input type="text" v-model="inputEditTitle" maxlength="20" id="inputEditTitle">
            </div>
            <div class="inputContainer">
                <label>内容</label>
                <input type="text" v-model="inputEditContent">
            </div>

            <div>
                <button @click="editSureClick">確認</button>
                <button @click="cancelClick">キャンセル</button>
            </div>
        </div>

    </div>

    <script src="vue.js"></script>

</body>

</html>