* {
    margin: 0;

    font-family: 'Oriya MN', 'Shree Devanagari 714';
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------*/
/*------------- 左の部分 ---------------*/
/*-------------------------------------*/

.leftSide {
    width: 30vw;
    height: 100vh;
    background-color: #407076;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftSide h1 {
    font-size: 90px;
    font-weight: normal;
    color: #fff;
}

.leftSide p {
    font-size: 30px;
    color: #fff;
}

.leftSide .inputSearch {
    margin-top: 100px;
    height: 25%;
    position: relative;
}

.leftSide input {
    width: 400px;
    height: 70px;
    box-sizing: border-box;
    padding: 0px 60px 0px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
    color: #407076;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
}

.leftSide i {
    display: inline-block;
    position: absolute;
    right: 25px;
    cursor: pointer;
    color: #407076;
    font-size: 24px;
    line-height: 70px;
}

/*-------------------------------------*/
/*------------- 右の部分 ---------------*/
/*-------------------------------------*/

.rightSide {
    width: 70vw;
    height: 100vh;
    background-color: #96C3BA;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.addTodo {
    width: 140px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 70%;
    margin-top: 30px;
}

.addTodo i {
    width: 140px;
    height: 70px;
    cursor: pointer;
    color: #407076;
    font-size: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.todoTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 10%;
}

.todoLine {
    display: flex;
    background-color: #fff;
    width: 1000px;
    height: 120px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    border-radius: 10px;

    margin-bottom: 20px;
    padding: 0 70px 0 70px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoLine div:nth-child(1) {
    width: 60%;
}

.todoLine div:nth-child(1) :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
    /* font-family: ''; */
}

.todoTable p {
    font-size: 20px;
    color: #407076;
}

.todoTable i {
    cursor: pointer;
    color: #407076;
    font-size: 30px;
    margin-left: 20px;
}

/* .todoLine :nth-child(1),
.todoLine :nth-child(4) {
    width: 150px !important;
} */

/* .todoTable span {
    color: #337AB7;
    cursor: pointer;
} */

#editAlert,
#addAlert {
    width: 600px;
    height: 400px;

    border-radius: 10px;
    border: 2px solid #407076;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#editAlert input,
#addAlert input {
    /* width: 250px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    font-size: 20px; */


    width: 300px;
    height: 70px;
    box-sizing: border-box;
    padding: 0px 60px 0px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #407076;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
}

#editAlert button,
#addAlert button {
    width: 100px;
    height: 40px;
    background-color: #407076;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
}